<%- include("./include/header") %>

    <header>
        <nav class="navbar navbar-expand-lg justify-content-between">
            <a href="#" class="navbar-brand text-monospace font-weight-bolder pink-text"><i class="fas fa-users"></i> Users Management System</a>
            <div class="font-weight-bolder">
                <span class="pink-text mr-4">Hi, Hung</span>
                <a href="#" class="pink-text">Sign Out <i class="fas fa-sign-out-alt"></i></a>
            </div>
        </nav>
    </header>
    <main class="mt-5">
        <div class="container">
            <div>
                <input type="text" name="search" id="search" class="form-control" placeholder="Search...">
                <a href="#" class="btn active lady-lips-gradient px-3 py-2 my-3">
                    <span class="white-text">New User <i class="fas fa-plus my-1"></i></span>
                </a>
                <div class="table-responsive">
                    <table class="table table-hover">
                        <thead class="lady-lips-gradient white-text">
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Gender</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td>Hung</td>
                                <td>@gmail.com</td>
                                <td>Male</td>
                                <td>Active</td>
                                <td>
                                    <a href="#" class="blue-text pr-1">
                                        <span><i class="fas fa-edit"></i></span>
                                    </a>
                                    <a href="#" class="red-text pl-1">
                                        <span><i class="fas fa-trash-alt"></i></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Hung</td>
                                <td>@gmail.com</td>
                                <td>Male</td>
                                <td>Active</td>
                                <td>
                                    <a href="#" class="blue-text pr-1">
                                        <span><i class="fas fa-edit"></i></span>
                                    </a>
                                    <a href="#" class="red-text pl-1">
                                        <span><i class="fas fa-trash-alt"></i></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Hung</td>
                                <td>@gmail.com</td>
                                <td>Male</td>
                                <td>Active</td>
                                <td>
                                    <a href="#" class="blue-text pr-1">
                                        <span><i class="fas fa-edit"></i></span>
                                    </a>
                                    <a href="#" class="red-text pl-1">
                                        <span><i class="fas fa-trash-alt"></i></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Hung</td>
                                <td>@gmail.com</td>
                                <td>Male</td>
                                <td>Active</td>
                                <td>
                                    <a href="#" class="blue-text pr-1">
                                        <span><i class="fas fa-edit"></i></span>
                                    </a>
                                    <a href="#" class="red-text pl-1">
                                        <span><i class="fas fa-trash-alt"></i></span>
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td>1</td>
                                <td>Hung</td>
                                <td>@gmail.com</td>
                                <td>Male</td>
                                <td>Active</td>
                                <td>
                                    <a href="#" class="blue-text pr-1">
                                        <span><i class="fas fa-edit"></i></span>
                                    </a>
                                    <a href="#" class="red-text pl-1">
                                        <span><i class="fas fa-trash-alt"></i></span>
                                    </a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

<%- include("./include/footer") %> 